.tech-card {
    margin-top: 1rem;
    border-radius: 9999px;
    background: rgb(220,220,220);
background: linear-gradient(103deg, rgba(220,220,220,0.83) 0%, rgba(152,152,152,1) 44%, rgba(46,46,46,1) 90%);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 1);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.tech-card:hover {
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
    cursor: default;
}

.tech-card-content {
    font-weight: 500;
    font-size: .65rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}